<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${errorMsg}"></title>
    <th:block th:replace="fragments/scripts :: before"/>
</head>
<body>
<div th:replace="fragments/layout :: header">header</div>
<div class="container">
    <del>сорян</del><h2>Sorry, here is your error page</h2><br><br>
    <h4 th:text="${errorMsg}"></h4>
</div>
<div th:replace="fragments/layout :: footer">footer</div>
<th:block th:replace="fragments/scripts :: after"/>
</body>
</html>