<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/scripts :: before"/>
</head>
<body>
<div th:replace="fragments/layout :: header">header</div>
<div class="container">
    <div th:replace="fragments/layout :: error-printer"></div>
    <div th:if="${user != null}">
        <a th:href="@{/users/{id}(id=${user.id})}">
            <h3 th:text="'Accounts for user ' + ${user.username}">username</h3>
        </a>
    </div>
    <div th:if="${user == null}">
        <h3>My accounts</h3>
    </div>
    <br>
    <table>
        <tbody>
        <tr>
            <th width="20%">Account number</th>
            <th width="20%">Name</th>
            <th width="20%">Create Date</th>
            <th width="10%">Amount</th>
            <th width="8%">Status</th>
            <th width="12%">Details</th>
        </tr>
        <tr th:each="item : ${accounts}">
            <td th:text="${item.accountNumber}">Account number</td>
            <td th:text="${item.name}">Name</td>
            <!--<td th:text="${#temporals.format(item.created, 'dd.MM.yyyy')}">Create Date</td>-->
            <td th:text="${item.created}">Create Date</td>
            <td th:text="${item.availableAmount}">Amount</td>
            <td th:if="${item.blocked==true}"><span class="label label-danger">Blocked</span></td>
            <td th:if="${item.blocked==false}"><span class="label label-success">Active</span></td>
            <td><a th:href="@{/accounts/{number}(number=${item.accountNumber})}">Details</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <form action="/" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="id" th:if="${user!=null}" th:value="${user.id}">
        <input type="text" name="name" placeholder="Account name">
        <input type="submit" value="Add">
    </form>
</div>
<div th:replace="fragments/layout :: footer">footer</div>
<th:block th:replace="fragments/scripts :: after"/>
</body>
</html>