<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/scripts :: before"/>
    <script>
        function valipatePasswords(form) {
            var password = form.elements["password"].value;
            if (password == null || password === ""){
                passwordRepeatErrorElement.style.display = 'none';
                return true;
            }
            var passwordRepeatErrorElement = document.getElementById("password-repeat-error");
            if (password !== form.elements["repeatPassword"].value){
                passwordRepeatErrorElement.style.display = 'block';
                return false;
            } else {
                passwordRepeatErrorElement.style.display = 'none';
            }
        }
    </script>
</head>
<body>
<div th:replace="fragments/layout :: header">header</div>
<div class="container">
    <div th:replace="fragments/layout :: error-printer"></div>
    <form th:action="@{/profile}" th:object="${user}" onsubmit="valipatePasswords(this)" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="hidden" name="id" th:value="${user.id}">
        <input type="text" name="username" placeholder="Username" disabled="disabled" th:value="${user.username}"><br>
        <input type="email" name="email" placeholder="Email" th:value="${user.email}"><br>
        <input type="password" name="oldPassword" placeholder="Old password"><br>
        <input type="password" name="password" th:value="${user.password}" placeholder="New password"><br>
        <input type="password" name="repeatPassword" placeholder="Repeat password"><br>
        <label sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN')">
            Role:
            <select name="role" sec:authorize="hasAuthority('ADMIN')">
                <option name="USER" value="USER">USER</option>
                <option name="MODERATOR" value="MODERATOR">MODERATOR</option>
                <option name="ADMIN" value="ADMIN">ADMIN</option>
            </select>
            <br>
        </label>
        <div>
            <p id="password-repeat-error" class="bg-danger" style="display: none;">Passwords don't match</p>
        </div>
        <input type="submit" value="Save">
    </form>
</div>
<div th:replace="fragments/layout :: footer">footer</div>
<th:block th:replace="fragments/scripts :: after"/>
</body>
</html>