<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/scripts :: before"/>
</head>
<body>
<div th:replace="fragments/layout :: header">header</div>
<div class="container">
    <div th:replace="fragments/layout :: error-printer"></div>
    <form th:action="@{/stats}" method="get">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td>From:</td>
                    <td>To:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <input type="date" name="from" th:value="${from}">
                    </td>
                    <td>
                        <input type="date" name="to" th:value="${to}">
                    </td>
                    <td>
                        <input type="submit" value="Show">
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <br>
    <img th:src="${imageUrl}" />
    <br>
    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{/stats}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="number" name="buying" placeholder="buying"><br>
            <input type="number" name="selling" placeholder="selling"><br>
            <input type="submit" value="Add">
        </form>
        <br><br>
        <form th:action="@{/stats/remove}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="Remove last">
        </form>
    </div>
</div>
<div th:replace="fragments/layout :: footer">footer</div>
<th:block th:replace="fragments/scripts :: after"/>
</body>
</html>