<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <th:block th:replace="fragments/scripts :: before"/>
</head>
<body>
<div th:replace="fragments/layout :: header">header</div>
<div class="container">
    <div th:replace="fragments/layout :: error-printer"></div>
    <h3 th:text="'Transactions for account ' + ${accountNumber}">number</h3>
    <br>
    <table>
        <tbody>
        <tr th:if="${accountNumber!=null}">
            <th width="22%">Sender</th>
            <th width="22%">Receiver</th>
            <th width="16%">Date</th>
            <th width="8%">Amount</th>
            <th width="25%">Message</th>
            <th width="7%">Status</th>
        </tr>
        <tr th:if="${accountNumber==null}">
            <th width="18%">Sender</th>
            <th width="18%">Receiver</th>
            <th width="15%">Date</th>
            <th width="8%">Amount</th>
            <th width="20%">Message</th>
            <th width="7%">Status</th>
            <th width="14%">Action</th>
        </tr>
        <tr th:each="item : ${page}">
            <td th:text="${item.sender}">Sender</td>
            <td th:text="${item.receiver}">Receiver</td>
            <td th:text="${item.date}">Date</td>
            <td th:text="${item.amount}">Amount</td>
            <td th:text="${item.message}">Message</td>
            <td th:if="${item.stasua.equals('SENT')}"><span class="label label-danger">Sent</span></td>
            <td th:if="${item.stasua.equals('ACCEPTED')}"><span class="label label-success">Accepted</span></td>
            <td th:if="${item.stasua.equals('CANCELED')}"><span class="label label-success">Canceled</span></td>
            <td sec:authorize="!hasAnyAuthority('MODERATOR', 'ADMIN')" th:if="${accountNumber==null}">
                <form method="post" th:action="@{/transactions/{id}/accept(id=${item.id})}">
                    <input type="submit" value="Accept">
                </form>
                <form method="post" th:action="@{/transactions/{id}/cancel(id=${item.id})}">
                    <input type="submit" value="Cancel">
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <form th:action="@{/transactions}" method="post" th:object="${transaction}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN')" name="sender" placeholder="Sender"><br sec:authorize="hasAnyAuthority('MODERATOR', 'ADMIN')">
        <input type="hidden" sec:authorize="!hasAnyAuthority('MODERATOR', 'ADMIN')" name="sender" th:value="${accountNumber}"><br sec:authorize="!hasAnyAuthority('MODERATOR', 'ADMIN')">
        <input type="text" name="receiver" placeholder="Receiver"><br>
        <input type="number" name="amount" placeholder="Amount"><br>
        <input type="submit" value="Send">
    </form>
</div>
<div th:replace="fragments/layout :: footer">footer</div>
<th:block th:replace="fragments/scripts :: after"/>
</body>
</html>